.about{
  flex-direction: column;
}

.about_text {
  text-align: center;
  margin-bottom: 20px;
  width: 250px;
}

.technologies ul {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 250px;
  overflow: hidden;
}

.technologies li {
  margin: 10px; 
  width: max-content;
  animation: slide 1s linear infinite;
}

.technologies li img {
  width: 40px;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-50px);
  }
}

@media (min-width: 768px) {
  .about_text {
    width: 700px;
  }
  .technologies li img {
    width: 50px;
  }
}

@media (min-width: 425px) {
  .technologies ul {
    width: 300px;
  }
}