main {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  grid-area: main;
  height: 100vh;
  justify-content: center;
  padding: 20px;
}
.contener{
  align-items: center;
  display: flex;
  grid-area: main;
  height: 100vh;
  justify-content: center;
}
.hidden{
  display: none;
}