button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}