input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--ternary-color);
  width: 100%;
}

input:focus {
  outline: none;
  border-color: var(--ternary-color);
}