.header {
  width: 60px;
  grid-area: header;
  background-color: #b8babc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: width 0.7s ease-in-out;
}
.header.collapsed {
  width: 60px;
}

.header.expanded {
  width: 200px;
}
.slogan{
  width: 60px;
}

.logo{
  width: 130px;
  margin-bottom: 20px;
}

